<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to identify plants and add them to your collection.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to import plant images into your herbarium.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to record where each specimen was discovered.</string>
</dict>
</plist>
